
@{
    ViewBag.Title = "_Footer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/laptop.css" rel="stylesheet" />
<div id='footer'>
    <div class='col-4 col-4 col-s-12' style=' max-height: 2000px; padding-left: 100px;'>
        <div class='product2'>
            <h4 style="color: white;">THÔNG TIN LIÊN HỆ</h4><br />
            <div class='tt' style="line-height: 30px;">
                <p style="color: #e0e0e0;">Phường Nhân Hòa - Mỹ Hào - Hưng Yên</p>
                <p style="color: #e0e0e0">laptopstore@gmail.com</p>
                <p style="color: #e0e0e0">190012345</p>
            </div>
        </div>
    </div>
    <div class='col-4 col-4 col-s-12' style='max-height: 2000px; padding-left: 120px;'>
        <div class='product2'>
            <h4 style="color: white">LAPTOP STORE</h4><br />
            <div class='tt' style="line-height: 30px;padding-left: 20px;">
                <p><a href="#" style="color: #e0e0e0">Giới thiệu</a></p>
                <p><a href="#" style="color: #e0e0e0">Hãng LapTop</a></p>
                <p><a href="#" style="color: #e0e0e0">Phụ Kiện</a></p>
                <p><a href="#" style="color: #e0e0e0">Khuyến Mãi</a></p>
                <p><a href="#" style="color: #e0e0e0">Kiến thức bên lề</a></p>
            </div>
        </div>
    </div>
    <div class='col-4 col-4 col-s-12' style='max-height: 2000px; padding-left: 80px;'>
        <div class='product2'>
            <h4 style="color: white;">THEO DÕI CHÚNG TÔI TẠI</h4><br />
            <div class='tt' style="line-height: 30px;padding-left: 60px;">
                <p><a href="#" style="color: #e0e0e0;">Facebook</a></p>
                <p><a href="#" style="color: #e0e0e0">Pinterest</a></p>
                <p><a href="#" style="color: #e0e0e0">Instagram</a></p>
                <p><a href="#" style="color: #e0e0e0">Youtube</a></p>
                <p style="padding-left: -10px;">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-pinterest"></i>
                </p>
            </div>
        </div>
    </div>
</div>

